.panel-body{
    padding: 25px;
}

.shadow-5 {
  box-shadow: 0px 1px 3px 0px rgba(65, 74, 107, 0.15), 0px 3px 6px 0px rgba(65, 74, 107, 0.15); }

.shadow-35 {
  box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1), 0px 5px 15px 0px rgba(0, 0, 0, 0.01); }
