<div class="ibox developer-profile">
    <div class="ibox-content">
        <div class="image">
            <img src="{{ developer.image }}" class="img-responsive"/>
        </div>
        <div class="caption">
    
            <div class="h1 username">{{ developer.name }}</div>
            <p class="description">{{ developer.description }}</p>
        </div>
    </div>
</div>