<ul class="list-group">
    {% if categories %} 
        {% for category in categories %}
        <li class="list-group-item"><a href="{{ category.href }}"><h4>{{ category.name }}</h4><small>{{ category.description }}</small></a></li>
        {% endfor %}
    {% endif %} 
</ul>